.Catolog{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.Catologg{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
   
   
}
.child{
    display: flex;
    margin: 15px;
    max-width: 500px;
    border-bottom: 1px solid grey;
    padding: 0 ;
    padding-bottom: 15px;
}  
.child:hover{
    box-shadow: 0  0 10px;
    padding: 0 ;
    padding: 10px ;
   transform: scale(0. 50);
}
.width{
    max-width: 900px;
    margin: 0 auto;
}
.bt{
    display: flex;
    flex-wrap: wrap;
}