.Men{
    display: flex;
    justify-content: space-between;
   flex-wrap: wrap;
    padding: 15px;
  background-color: bisque;
    width: 100%;
    margin: 0 auto;
  
}
.Men  div {
  width: 550px;
  margin: 15px;
  padding: 15px;
  text-align: center;
  box-shadow: 0 0 10px;
  background-color: darkgrey;
}