.About{
    max-width: 1950px;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.vodio{
    width: 100%;
}
.per{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 0 auto;
    border-bottom: 1px solid grey;
}
.full{
    display: flex;
    margin: 15px;
    padding-bottom: 15px;
    border-bottom:  1px solid grey;
}
.text{
    margin: 500px;
    width: 100%;
    margin: 0 auto;
    padding: 15px;
}
h5{
    color: teal;
}
h6{
    color: red;
    font-size: 18px;
}